/* Allgemeines Styling */

body {
    background-color: rgb(0, 242, 255);
    font-family: Helvetica Now Text;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}

h1 {
    text-align: center;
    color: rgb(1, 4, 4);
}

p {
    font-size: 50px;
    text-align: center;
    color: rgb(3, 33, 72);  
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 300px;
}

.video {
    width: 400px;
    height: 220px
}

.katzen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-inline: 250px;
}

h2 {
    font-size: 70px;
    font-family: courier;
}

h3 {
    font-size: 70px;
    font-family: courier;
    
    
}